@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");
* {
  box-sizing: border-box;
}

header,
section {
  overflow-x: hidden;
}

:root {
  --Sniglet-font: "Sniglet", cursive;
  --Rubik: "Rubik", cursive;
  --Patua: "Patua One", cursive;
  --Lobster: "lobster", cursive;
  --light-black: #2e2c2caf;
  --bggradient: linear-gradient(to right, #c43bfa, #2d919e);
  --cardgradient: linear-gradient(to bottom, #0084ff70, #ff81ff6e);
  --light-gray: rgba(255, 255, 255, 0.877);
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

header a {
  font-family: var(--Sniglet-font);
  font-size: 0.9em;
  color: whitesmoke;
}

header .hacklogo {
  height: 3rem;
  width: 3rem;
  border-radius: 1rem;
}

header .nav-item:last-child {
  padding-right: 10.5em;
}

header .nav-item {
  padding: 1.2rem;
}

header .navbar-brand {
  padding-left: 8rem;
}

header .nav-link:hover {
  color: #16dbcbde;
}

header .row .col-md-7 {
  padding: 15vmin 10vmin;
  padding-bottom: 10vmin;
}

header {
  background-image: url(/assets/bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}


header .container .col-md-7 {
  font-family: "Rubik", sans-serif;
  padding-left: 0rem;
}

header .container .col-md-7 h6 {
  padding: 0.5vmin;
  letter-spacing: 4px;
}

header .container .col-md-7 h1 {
  font-size: 10vmin;
  font-weight: 100;
  padding: 0.1em 0em;
}

header .container .col-md-7 p {
  padding: 0.3vmin 5vmin;
}

.primary-btn {
  border-radius: 30px;
  font-weight: bold;
}

/********** updates section ********/
.updates{
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: rgb(7, 7, 7);
}

.updates h1 {
  color: white;
  font-family: var(--Patua);
  font-size: 2.5rem;
  text-align: center;
}
.blinking{
  animation:blinkingText 1.5s infinite;
}
@keyframes blinkingText{
  0%{     color: rgb(250, 250, 250);    }
  49%{    color: rgb(255, 255, 255); }
  60%{    color: rgb(0, 0, 0); }
  99%{    color: rgb(82, 82, 82);  }
  100%{   color: rgb(255, 255, 255);    }
}

.updates li {
  margin: 0 4rem 0 4rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(184, 181, 181);
  list-style: none;
}

/********** section 1 **************/

.section-1 {
  padding: 20vmin 0vmin;
}

.section-1 .row .col-md-6 .pray img {
  opacity: 1;
  width: 70%;
  border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
  position: relative;
}

.section-1 .row .col-md-6 .panel {
  position: absolute;
  top: 7vmin;
  left: -18vmin;
  background: white;
  border-radius: 3px;
  text-align: left;
  padding: 13vmin 5vmin 20vmin 10vmin;
  box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
  font-family: var(--Rubik);
  z-index: 1;
}

.section-1 .row .col-md-6 .panel h1 {
  font-weight: bold;
  padding: 0.4em 0;
  font-size: 2em;
}

.section-1 .row .col-md-6 .panel p {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.582);
}
.more-link {
  font-weight: 700;
}

/*  Section 2  */

.cover {
  width: 100%;
  background: var(--bggradient);
  background-size: 100%;
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  position: relative;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.cover .content {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  padding-top: 13vmin;
}

.cover .content > h1 {
  font-family: var(--Patua);
  font-size: 8vmin;
  color: whitesmoke;
  padding: 24px;
}

.cover .content > p {
  font-family: var(--Rubik);
  font-size: 3.5vmin;
  color: #e5e5e5;
  padding-bottom: 12px;
}

.rect {
  position: relative;
  z-index: 1;
  background: white;
  width: 15rem;
  height: 12rem;
  padding-top: 3.5vmin;
  margin: 1rem;
  border-radius: 0.5em;
  box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}
.minilogo {
  width: 12rem;
  height: 8rem;
}

.purchase > h1 {
  padding-top: 15vmin;
  padding-bottom: 0.1em;
  font-family: var(--Lobster);
}

.purchase > p {
  color: var(--light-black);
  font-size: 3vmin;
  padding-bottom: 10vmin;
}

.purchase .cards .card {
  width: 23rem;
  margin: 3vmin 3vmin;
}
.purchase .cards .card-body {
  background: var(--cardgradient);
  list-style-image: url(/assets/multimedia.svg);
  font-family: var(--Sniglet-font);
  font-weight: 300;
  color: rgba(46, 45, 44, 0.863);
}

.cards div {
  padding: 0;
  margin: 0;
  border-radius: 1rem;
}

.cards .title {
  background: rgba(83, 45, 33, 0.199);
  padding: 1.4em 2.5em;
  font-size: 2vmin;
}

.cards .card-text li {
  padding: .5rem 1rem;
  color: rgb(78, 76, 76);
}

.card-body .pricing {
  background: rgba(222, 228, 228, 0.199);
  border-top-right-radius: 170px;
  border-top-left-radius: 170px;
}

.card-body .pricing > h1 {
  font-size: 10vmin;
  padding: 1em 0.5em;
}

.accordion {
  display: none;
}

/* Section 3 */

.section-3 {
  background: var(--bggradient);
}

.section-3 .col-md-12 > h1 {
  padding: 2em 0 0.5em 0;
  color: whitesmoke;
  font-size: 6.5vmin;
}

.section-3 .col-md-12 li {
  text-align: center;
  padding: 0 4em;
  padding-bottom: 1.2em;
  color: rgb(223, 201, 201);
  font-size: 2.5vmin;
}

.section-3 .desktop {
  background: white;
  display: inline-block;
  border-radius: 3em;
  padding: 2vmin 4.5vmin;
  margin: 1em;
}

.section-3 .desktop h3 {
  font-size: 4vmin;
}

.section-3 .desktop p {
  font-size: 2vmin;
}

.platform {
  padding-bottom: 2rem;
}

/* Section Team */

.section-4 .container h1 {
  font-size: 6vmin;
  padding-top: 10vmin;
}

.section-4 .team {
  padding: 5vmin 4vmin;
}

.section-4 .card {
  width: 22em;
  margin-top: 10vmin;
  list-style: none;  
  font-family: var(--Sniglet-font);
  font-weight: 100;
  color: rgba(46, 45, 44, 0.863);
  list-style-image: url(/assets/multimedia.svg);
}
.section-4 .card .card-body{
  text-align: left;
  font-size: smaller;
}
.section-4 .card-link > a {
  font-size: 1.5em;
  padding-left: 2rem;
}

#more {display: none;}
.section-4 .carousel-item {
  padding-left: 3rem;
}

.border-radius {
  border-radius: 340px;
  width: 60%;
}

footer {
  background: rgba(0, 0, 0, 0.815);
  overflow-x: hidden;
  padding: 14vmin 18vmin;
}

footer p > span {
  color: #ff512f;
}

footer input {
  border: none !important;
}

footer input::placeholder {
  color: white !important;
}

footer .input-group .input-group-text {
  background: var(--bggradient);
  border: none;
}

footer .column i {
  color: #dd2476;
}

/* It is Adjacent sibling combinator */

footer .column i + i {
  padding: 0 0.5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.815);
  z-index: 9999;
  transition: all 1.5s ease;
}
h5 {
  display: inline;
  font-size: 30px;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
input[type="number"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgba(34, 44, 35, 0.623);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.abc {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.contactus h3,
p {
  color: white;
}

.mpopup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.mpopup-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.mpopup-head {
  padding: 2px 16px;
  background: var(--bggradient);
  color: white;
  text-decoration: none;
  text-align: center;
}
.mpopup-main {
  padding: 2px 16px;
}
.mpopup-foot {
  padding: 2px 16px;
  color: #ffffff;
  text-align: center;
}

/* add animation effects */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* close button style */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.fab {
  width: 3rem;
}
.collabimg {
  width: 25rem;
  height: 12rem;
}
.flex-rectangle{
  height: 200px;
  width: 100%;
}
.flex-rectangle:before{
  display: block;
  padding-top: 25%;
}
.location{
  height: 200px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  header .navbar-brand {
    padding-left: 1rem;
  }
  .section-1 .row .col-md-6 .panel {
    position: initial;
    width: initial;
    height: initial;
  }
  .section-2 .cover {
    background-position: -25vmin -10vmin;
  }
  .cover .content {
    padding-top: 10vmin;
  }
  .numbers .rect {
    width: 10rem;
    height: 8rem;
  }
  .numbers .rect h1 {
    font-size: 2rem;
  }
  .minilogo {
    height: 6rem;
    width: 8rem;
  }

  .purchase {
    display: none;
  }

  .bs-example{
      margin: 20px;
  }
  .accordion .fa{
      margin-right: 0.5rem;
  }

  .accordion .card-header{
    background: var(--bggradient);
  }

  .accordion{
    display: block;
    color: black;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .accordion a {
    text-decoration: none;
  }

  .cards .title {
    background: rgba(83, 45, 33, 0.199);
    padding: 1.4em 2.5em;
    font-size: 2vmin;
  }

  .accordion .acc-title {
    color: white;
    font-size: 1.4rem;
    font-family: var(--Lobster);
    letter-spacing: 2px;
  }

  .list {
    list-style: square;
    text-align: left;
    font-family: var(--Patua);
    font-size: 1.2rem;
  }
  
  .card-text li {
    padding: .5rem 1rem;
    color: rgb(78, 76, 76);
  }

  .accordion > h1 {
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
  }
  
  .accordion > p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
  }

  .section-3 {
    height: inherit;
    padding: 10vmin !important;
  }
  .section-3 .row h1 {
    padding: 6vmin 4vmin;
  }
  .section-3 .platform .col-md-6 {
    text-align: center !important;
  }
  .section-3 .desktop i {
    font-size: 8vmin;
  }
  .section-4 .carousel-item {
    padding-left: 0.6rem;
  }
  footer .row .col-md-2 {
    margin-top: 8vmin;
  }
  .abc {
    height: 100vmin;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  input[type="text"],
  select,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: horizontal;
  }
  .collabimg {
    width: 100%;
    height: 8rem;
  }
  .flex-rectangle{
    height: 150px;
  }
  .location{
    height: 150px;
    
  }
}

/* screen size 375px */

@media only screen and (max-width: 375px) {
  .section-4 .card {
    width: 18em;
  }
}

@media only screen and (max-width: 320px) {
  .section-4 .carousel-inner {
    margin-left: -4vmin;
  }
}
